body {
font-family: Verdana, sans-serif; margin:0
  background-image: url("../images/background-image.jpeg");
}

a {
  color: #112d4e;
}

/* Navigationbar style for all pages*/
#navbar {
  background-color: #001c43;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  float: right;
  z-index: 2;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #eb6330;
  color: white;
}


/* Style header Section*/
.profile-small {
  height: 150px;
  border-radius: 50%;
  border: 2px solid #e9cf5b;
}

.header {
  text-align: center;
  background-color: #f9f7f7;
  margin: 20px;
  padding: 40px;
  font-size: 20px;
}

.header2 {
  text-align: left;
  background-color: #f9f7f7;
  margin: 20px;
  padding: 40px;
  font-size: 20px;
}


/*About Me section*/
* {
  box-sizing: border-box;
}

.column2 {
  width: 45%;
  float: left;
  height: 450px;
  width: 100%;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  line-height: 2;
  background-color: #f9f7f7;
}

.column22 {
  width: 45%;
  float: left;
  height: 100%;
  width: 100%;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  line-height: 2;
  background-color: #f9f7f7;
}

.large-profile {
  background: url('Images/VIT.png');
  background-size: cover;
  background-position: center;
}

/*Gallery for index section*/


.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: #f9f7f7;
  z-index: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Table*/
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/* Collapsables*/
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #f9f7f7;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f7f7;
}

/*Body Section-Images(OurCampus)*/
* {
  box-sizing: border-box;
}

.row>.column {
  padding: 0 8px;
  padding-left: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/*Project Section */
.section-heading {
  text-align: center;
  color: #102c4e;
  margin-top: 150px;
  margin-bottom: 70px;
  font-size: 35px;
}

.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin: 20px;
  height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.project-1 {
  height: 250px;
  margin: 20px;
    padding: 10px;
    float: left;
    width: 21%;
  background: url('Images/VIT.png');
  background-size: cover;
}

.project-2 {
  background-color: #f9f7f7;
}

.project-8 {
  background: url('Images/VIT.png');
  background-size: cover;
}

.project-2:hover {
  background-color: #e9cf5b;
height:100%;
}


/*StudentExperience*/
.Video-Player{
  width: 100%;
  height: auto;
  padding: 100px;
  margin:10px 10px 10px 350px;
}


/*Section 4*/
.cloumn-1 {
  width: 90%;
  height: auto;
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 70px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: white;
}

.table-style {
  width: 100%;
  border-spacing: 24px;
  ;
}

.floatright {
  float: right;
}

/*Section Break*/
< .section-break {
  margin: 50px;
  height: 50px;
}

.section-breaks {
  height: 100px;
  background-color: rgb(0 28 67);
}
.break{
  height: 100px;
}


/*footer style for all Pages*/
.footer {
  display: block;
  width: 100%;
  visibility: visible;
  opacity: 1;
  background-color: rgb(0 28 67);
}

.footer-text-left {
  font-size: 25px;
  padding-left: 40px;
  float: left;
  word-spacing: 20px;
  background-color: rgb(0 28 67);
}

a.menu:hover {
  background-color: #e9cf5b;
  font-size: 20px;
}


.lower-footer {
  margin-top: -30px;
  padding: 22px 0 22px 0;
  height: 50%;
  width: 100%;
  background-color: rgb(0 28 67);
}
.lower-footer index {
  padding: 22px 0 22px 0;
  height: 50%;
  width: 100%;
  background-color: rgb(0 28 67);
}
.footer-content-right {
  float: right;
  padding-right: 40px;
  margin-top: 20px;
}

.footer-content-right2 {
  margin-top: -20px;
  background-color: rgb(0 28 67);
  text-align: right;
}

.icon-style {
  height: 40px;
  margin-top: 5px;
  margin-left: 20px;
}

.icon-style:hover {
  background-color: rgba(255, 255, 0, 0.75);
  padding: 5px;
}
